.accordion-card 
  padding: 1.2rem
  margin-bottom: 1.5rem
  border: 1px solid #00000025
  cursor: pointer
  border-radius: 5px
  transition: all 0.3s ease

  .acc-title 
    font-size: 1.5rem
    font-weight: 600
    display: flex
    justify-content: space-between
    align-items: center

  .acc-message 
    margin-top: 1rem

.accordion-card:hover
  background: #f7f7f7