*, html 
    margin: 0
    padding: 0
    box-sizing: border-box

ul 
    list-style: none

.navbar 
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 40px
    height: 5rem

    .nav-logo
        height: 50px
        
        img 
            height: 100%
            width: auto

    .nav-menu 
        display: flex
        align-items: center

        li 
            margin: 0 .8rem
